<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add Songs</title>
    <link rel='stylesheet' href='addSongs.css'/>
</head>
<body> 
    <div class="container">
        <h1>Add New Song</h1>
        <form action="addsongs" method="post">
            <label for="name">Song Name:</label>
            <input type="text" id="name" name="name" required><br>
            <label for="artist">Song Artist:</label>
            <input type="text" id="artist" name="artist" required><br>
            <label for="genre">Song Genre:</label>
            <input type="text" id="genre" name="genre" required><br>
            <label for="link">Song Link:</label>
            <input type="text" id="link" name="link" required><br>
            <input type="submit" value="ADD SONGS">
        </form>
    </div>
</body>
</html>
