<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Home</title>
    <link rel='stylesheet' href='customerhome.css'/>

</head>
<body>
    <div class="container">
        <h1>Welcome customer to Customer Home</h1>
        <!-- <button><a href="exploreSongs">EXPLORE SONGS</a></button> -->
        <button><a href="viewsongs">VIEW SONGS</a></button>
        <button><a href="createplaylist">CREATE PLAYLIST</a></button>
        <button><a href="/logout">LOGOUT</a></button>
        
   
</body>
</html> 